<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.foober.zomatoscrape</string>
    <key>ProgramArguments</key>
    <array>
    		<string>/usr/bin/python</string>
        <string>/Users/user/Codes/my_codes/Python/scrapping/scrape_zomato.py</string>
    </array>
    <key>StandardOutPath</key>
		<string>/tmp/zomato_scrape_log.txt</string>
		<key>StandardErrorPath</key>
		<string>/tmp/zomato_scrape_error_log.txt</string>
    <key>KeepAlive</key>
		<dict>
		    <key>SuccessfulExit</key>
		    <false/>
		</dict>
</dict>
</plist>